.container.admin-form
  %h1{:align => "center"}= t '.admin-header'
  %table.table.table-striped
    %thead
      %tr
        %th= t ".email"
        %th= t ".name"
        %th= t ".active"
        %th{:colspan => "2"}
    %tbody#users
      = render @users
    %tbody
