%h1{:align => "center"}= t ".show_title"
.container.photo-index
  .row
    .col-xs-9
      - if @album.photos.empty?
        %h5= t 'photos.index.no-photo'
      - @album.photos.in_groups_of(4) do |group|
        .row
          - group.compact.each do |photo|
            .col-xs-3
              = image_tag photo.image.url(:thumb), :width => '100%' if photo.image.present?
              %h4{:align => "center"}= link_to photo.title, photo
    .col-xs-3
      %p
        %b
          = t ".title"
          \:
        = @album.title
      %p
        %b
          = t ".description"
          \:
        = @album.description
      %p
        - if can? :update, @album
          = link_to t('edit'), edit_album_path(@album), class:"btn btn-xs btn-primary"
        - if can? :destroy , @album
          = link_to t('delete'), album_path(@album), method: :delete, data: {confirm: t("albums.destroy.confirm") }, class: "btn btn-xs btn-danger"
        = link_to t('back'), albums_path, class:"btn btn-xs btn-success"
