.container.photo-show
  .row
    .col-xs-9
      = image_tag @photo.image.url(:medium), width: "100%"
    .col-xs-3
      %p
        %b Title:
        = @photo.title
      %p
        %b Description:
        = @photo.description
      %p
        - if can? :update, @photo
          = link_to 'Edit', edit_photo_path(@photo), class:"btn btn-xs btn-primary"
        - if can? :destroy , @photo
          = link_to "Delete", photo_path(@photo), method: :delete, data: {confirm: "Are you sure to remove this photo?"}, class: "btn btn-xs btn-danger"
        = link_to 'Back', photos_path, class:"btn btn-xs btn-success"
