%nav.navbar.navbar-default
  .container-fluid
    .navbar-header
      = link_to '<span class="navbar-brand">Photo App</span>'.html_safe, root_path
    %ul.nav.navbar-nav
      %li.active= link_to 'Dashboard', photos_path
      - if user_signed_in?
        %li= link_to 'New Photo', new_photo_path
        %li= link_to 'Your Photos', user_photos_path(user_id: current_user.id)
      - if user_signed_in? && current_user.admin
        %li= link_to 'Admin Panel', manage_users_path
    %ul.nav.navbar-nav.navbar-right
      - if user_signed_in?
        %li= link_to current_user.name, edit_user_registration_path
        %li= link_to '<span class="glyphicon glyphicon-log-out"></span> Log Out'.html_safe, destroy_user_session_path, :method => :delete
      - else
        %li= link_to '<span class="glyphicon glyphicon-user"></span> Sign Up'.html_safe, new_user_registration_path
        %li= link_to '<span class="glyphicon glyphicon-log-in"></span> Log In'.html_safe, new_user_session_path
