<!DOCTYPE html>
<html>
<head>
  <title>Instagram Clone</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render 'layouts/navigation' %>
<div class="container">
  <% flash.each do |name, msg| %>
    <div class='alert alert-info'>
      <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
      <%= content_tag :div, msg, :id =>"flash_#{name}" if msg.is_a?(String) %>
    </div>
  <% end %>
</div>

<%= yield %>

<%= render 'layouts/footer' %>
</body>
</html>
